.homeContainer {
  width: 100lvw;  
  height: 100lvh;
display:grid;
grid-template-columns:2fr 1fr;
grid-template-rows: 1fr;
background-color:#c39454;
overflow:hidden;
}
.textsContainer {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display:flex;
  justify-content: center;
  align-items: center;
}
.pictureContainer {
 grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display:flex;
  justify-content: center;
  align-items: center;
}